{% extends "index2.html" %} {% block content %}
<link href="{{ url_for('static', filename='doctor.css') }}">
{% for patient in patients %}
<div class="container_doctor" style="padding-top: 85px;">
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <div class="image"> <img
                        src="https://www.seekpng.com/png/detail/966-9665493_my-profile-icon-blank-profile-image-circle.png"
                        class="rounded" width="155"> </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0">{{patient.name}} {{patient.surname}}</h4>
                    <p>Email: <span>{{patient.email}}</span></p>
                    <p>Mobile: <span>{{patient.contact}}</span></p>
                    <button class="btn btn-sm btn-primary w-100 ml-2">Go to Appointment</button>
                    <button class="btn btn-sm btn-danger w-100 ml-2">Delete Appointment</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}