{% extends "layout.html" %} {% block content %}
<link href="{{ url_for('static', filename='doctor.css') }}">

<div class="container_doctor" style="padding-top: 85px; text-align: center;">
    <div class="container mt-5 d-flex justify-content-center">
        <div class="container" style="margin: 10%">
            <div class="row">
                <div class="col-md-6">
                    {% if patients %}
                    {% for patient in patients %}
                    <div class="card p-3">
                        <div class="d-flex align-items-center">
                            <div class="image"> <img
                                    src="https://www.seekpng.com/png/detail/966-9665493_my-profile-icon-blank-profile-image-circle.png"
                                    class="rounded" width="155"> </div>
                            <div class="ml-3 w-100">
                                <h4 class="mb-0 mt-0">{{patient.name}} {{patient.surname}}</h4>
                                <p>Email: <span>{{patient.email}}</span></p>
                                <p>Mobile: <span>{{patient.contact}}</span></p>
                                <p>About: <span>{{patient.message}}</span></p>

                                <a style="font-size: medium;" href="{{ url_for('user_page', user_id=patient.patient_id) }}"
                                    class="btn btn-primary profile-button" type="button">Appointment</a>
                                    {% if session.id == doctor.id %}
                                <a style="font-size: medium;" href="{{ url_for('delete_patient_appointment', appointment_id=patient.id) }}"
                                    class="btn btn-danger" type="button">delete appointment</a>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% else %}
                    <div> No Appointments... </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="card text-center" style="padding: 1%">
                        <div class="card-header"> {{doctor.name}} </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <img src="../static/default-doctor.jpg" alt="..." />
                            </h5>
                            <p class="card-text"> Specialization: {{doctor.specialization}}
                            </p>
                            <hr />
                            <h5 class="card-title">
                                Contact:
                            </h5>
                            <p class="card-text">Email : {{doctor.email}}
                            </p>
                            <p class="card-text">Phone : {{doctor.contact}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}